html {
    font-size: 10px;
}

body {
    padding: 0;
    margin: 0;

    &.no-scroll {
        overflow-y: hidden;
    }
}

.container {
    margin: 0 auto;
    max-width: 140rem;
    width: 100%;
}

.mask {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba($black, 0.3);
    z-index: 9;
}