.cta {
    border: none;
    outline: none;
    padding: 10px 18px;
    cursor: pointer;

    &.cta-primary {
        background: $primaryButton;
        color: $secondaryType;
        font-weight: 600;
        border-radius: 50rem;
        transition: .2s background;

        &:hover {
            transition: .2s background;
            background: $primaryButtonHover;
        }
    }
}