$primaryTheme:       #D7D5DE;
$secondaryTheme:     #8E544B;

$primaryType:        #D7D5DE;
$secondaryType:      #332633;

$primaryButton:      #D7D5DE;
$primaryButtonHover: darken(#D7D5DE, 6%);

$white:             #ffffff;
$black:              #000000;

//for weather app

$blue600: #482ff7;
$blue500: #2d6cdf;
$blue400: #46c3db;
$blue300: #e2f3f5;
$yellow500: #f0d146;
$yellow400: #f3f169;
