.accordion-component {

    .container {
        max-width: 76.8rem;
        width: 100%;
        margin: 0 auto;

        .section {
            padding: 0 2rem;

            .toggle {
                background: $secondaryTheme;
                border: none;
                width: 100%;
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding: 2rem;
                margin: .2rem 0;

                .title {

                }
                
                .icon {
                    transition: .2s transform linear;
                    font-weight: 700;

                    &.active {
                        transform: rotate(90deg);
                        transition: .2s transform linear;
                    }
                }
            }

            .content-container {
                height: 0;
                overflow: hidden;
                transition: .2s height linear;
                
                .content {
                    padding: 1rem 2rem; 

                    .subtitle {
                        font-size: 2.4rem;
                        margin-bottom: .4rem;
                    }

                    .text {
                        font-size: 1.6rem;
                        margin-bottom: 1rem;
                    }
                }
            }
        }
    }
}