.counter-component {
    border: 1px solid black;
    max-width: 32rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
    margin: 2rem;

    .cta-add,
    .result,
    .cta-sub {
        font-size: 1.6rem;
        margin: 1rem;
    }
}