.hero-component {
    min-height: 29rem;
    background: $blue600;
    font-family: 'Quicksand', sans-serif;
    display: flex;
    padding-bottom: 6.4rem;

    .title {
        font-size: 2.98rem;
        text-transform: uppercase;
        position: relative;
        color: $blue500;
        background: $white;
        margin: 0 6rem 9.3rem;

        @media screen and (max-width: 768px){
            margin: 0 0 5rem;
            font-size: 2.4rem;
            text-align: center;
        }

        &::after {
            content: "";
            display: block;
            width: 100%;
            height: 1rem;
            position: absolute;
            background: $yellow400;
            left: 0;
            bottom: -1rem;
        }
    }

    .local-weather {
        display: flex;
        justify-content: space-between;
        text-transform: uppercase;
        color: $white;
        margin: 0 6rem;

        @media screen and (max-width: 768px){
            flex-wrap: wrap;
            align-items: center;
            flex-direction: column-reverse;
            margin: 0 3rem;
            border: none;
        }

        .icon {
            font-size: 16rem;
            color: $yellow400;

            @media screen and (max-width: 768px){
                margin-bottom: 6rem;
            }
        }

        .info {
            display: flex;
            justify-content: flex-start;
            flex-direction: column;
            max-width: 100rem;
            width: 100%;

            @media screen and (max-width: 768px){
                align-items: center;
                text-align: center;
                margin-bottom: 4rem;
            }

            .time {
                text-transform: none;
                color: rgba($white, .6);
                margin-left: 1rem;

                @media screen and (max-width: 768px){
                    margin-left: 0;
                }
            }

            .city {
                letter-spacing: 2px;
                line-height: .8;
                font-size: 4rem;

            }
            
            .country {
                margin-top: .2rem;
                font-size: 1.2rem;
            }

            .temperature-wrapper {
                font-size: 2rem;
                color: $yellow400;
                margin-top: 2rem;
                
                @media screen and (max-width: 768px){
                    text-align: center;
                }

                .temperature {
                    margin-right: 1rem;
                    padding: .5rem;

                    @media screen and (max-width: 768px){
                        margin-left: 0.5rem;
                        margin-right: 0.5rem;
                        display: inline-block;
                        min-width: 5.1rem;
                    }

                    &.primary {
                        background: $white;
                        color: $blue500;
                        border: 2px solid $white;
                    }

                    &.secondary {
                        background: $blue500;
                        color: $white;
                        border: 2px solid $white;
                    }
                }
            }
        }
    }
}