.search-component {
    display: flex;
    justify-content: center;
    transform: translateY(-50%);

    .search {
        box-shadow: 0px 2px 4px 1px rgba($black, 0.1);
        display: flex;
        justify-content: space-between;
        border-radius: 14px;
        overflow: hidden;
        max-width: 79rem;
        width: 100%;
        margin: 0 10rem;

        @media screen and (max-width: 574px){
            margin: 0 2rem;
        }

        .text,
        .submit {
            font-size: 2rem;
            padding: 1rem;
        }

        .text {
            border: none;
            border-right: none;
            outline: none;
            width: 100%;
            font-size: 1.6rem;
            color: rgba($blue500, 8);

            &::-webkit-input-placeholder {
                color: rgba($blue500, .8);
            }
            
            &::-moz-placeholder {
                color: rgba($blue500, .8);
            }
            
            &::-ms-placeholder {
                color: rgba($blue500, .8);
            }
            
            &::placeholder {
                color: rgba($blue500, .8);
            }
        }

        .submit {
            border: none;
            cursor: pointer;
            color: $blue600;
            background: rgba($yellow400, 1);
            display: flex;
            align-items: center;
            justify-content: center;
            max-width: 10rem;
            width: 100%;
            outline: none;

            &:hover {
                .satellite {
                    color: $white;
                    transition: .2s color;
                }
            }

            .satellite {
                color: $blue600;
                transition: .4s color;
                
                &.response {
                    display: none;
                }
            }
            
        }
    }
}