.slider-component {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 100rem;
    min-height: 50rem;
    width: 100%;
    margin: 0 auto;
    background: lightblue;

    .slider-container {
        max-width: 76.8rem;
        width: 100%;
        
        .slider-content {
            min-height: 30rem;
            display: flex;
            overflow: hidden;
    
            .slide {
                min-width: 100%;
                transition: .3s transform;
        
                .title {
                    text-align: center;
                }
    
                &.one {
                    background: red;
                }
        
                &.two {
                    background: green;
                }
        
                &.three {
                    background: blue;
                }
    
                &.four {
                    background: pink;
                }
        
                &.five {
                    background: yellow;
    
                }
        
                &.six {
                    background: gray;
                }
            }
        }
    
        .button-container {
            width: 100%;
            display: flex;
            justify-content: space-between;
        }
    }
}