.tabs-component {
    .container {
        margin: 0 auto;
        max-width: 78.6rem;
        width: 100%;

        .header {
            display: flex;
            justify-content: space-evenly;
            background: $primaryTheme;

            .toggle-tab {
                background: $secondaryTheme;
                border: none;
                padding: 1rem 4rem;
                cursor: pointer;
                position: relative;

                &.active {
                    &:before {
                        content: "";
                        width: 0;
                        height: 0;
                        border-left: 1.4rem solid transparent;
                        border-right: 1.4rem solid transparent;
                        border-bottom: 1rem solid $primaryTheme;
                        display: block;
                        position: absolute;
                        bottom: 0;
                        left: 50%;
                        transform: translateX(-50%);
                    }
                }
            }
        }

        .wrapper {
            padding: 1rem;

            .tab {
                height: 0;
                overflow: hidden;
                transition: .2s linear height;
                
                &.active {
                    height: auto;
                }

                .content {
                    .picture {
                        margin-top: 1rem;
                    }
                }
            }
        }
    }
}