.utility-nav-component {
    max-width: 32rem;
    width: 100%;
    margin: 2rem;
    background: $secondaryTheme;
    padding: 2rem;
    border-top-right-radius: 2.4rem;

    .title {
        color: $secondaryType;
        padding-left: 1rem;
        margin: 0;
        margin-bottom: .6rem;
        font-size: 2.4rem;
        border-left: .4rem solid $primaryTheme;
    }

    .info {
        color: $primaryType;
        margin: 0;
        font-size: 1.6rem;
    }

    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 2rem;

        .wrapper {
            border-left: .2rem solid $primaryTheme;
            border-top: .2rem solid $primaryTheme;
            border-top-left-radius: 10rem;
            margin-right: 2rem;
            padding-left: 1rem;
            padding-top: .5rem;
            display: flex;
            justify-content: space-between;
            max-width: 10rem;
            width: 100%;

            .note,
            .hex-color {
                font-size: 1.6rem;
            }

            .note {
                color: $secondaryType;
            }

            .hex-color {
                color: $primaryType;
                transition: .4s color;
            }
        }
    }
}