.weather-modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    z-index: 10;
    max-width: 100rem;
    display: none;
    font-family: 'Quicksand', sans-serif;

    &.active {
        display: block;
    }
    
    .title {
        font-size: 2.4rem;
        color: $blue600;
        margin-bottom: 3rem;
        text-transform: uppercase;
        text-align: center;
    }

    .weather-modal-wrapper {
        background: $white;
        margin: 0 6rem;
        box-shadow: inset 0px 0px 1px 1px rgba($black, 0.4);
        display: flex;
        justify-content: space-between;
        overflow: hidden;
        min-height: 40rem;
    
        @media screen and (max-width: 992px){
            flex-wrap: wrap;
            justify-content: center;
        }

        @media screen and (max-width: 768px){
            margin: 0;
        }

        .info-wrapper,
        .details-wrapper {
            max-width: calc(50% - 8rem);
            width: 100%;
            padding: 2rem 4rem;
            display: flex;
            flex-direction: column;
            align-items: center;
           
            @media screen and (max-width: 768px){
               max-width: 100%;
               padding: 1rem 2rem;
            }
        }
    
        .info-wrapper {
            align-items: flex-start;
            
            @media screen and (max-width: 768px){
                align-items: center;
            }

            .info {
                font-size: 1.4rem;
                margin-bottom: 1rem;
            }

            .value {
                color: $blue500;
            }

            .condition {
                margin-bottom: 3rem;
                color: $yellow500;
                font-size: 2rem;
            }
        }   
    
        .details-wrapper {
            min-width: 56rem;
            display: flex;
            
            .chart {
            }
        }
    }
}