.weather-component {
    margin: 8rem 10rem;
    max-width: calc(33.33% - 20rem);
    width: 100%;
    min-width: 24rem;
    
    .wrapper {
        position: relative;
        transition: .4s all;
        cursor: pointer;
        background: $white;
        color: $blue500;
        min-height: 22rem;
        border-left: 3px solid $yellow400;
        border-top: 3px solid $yellow400;
        border-right: 3px solid $blue500;
        border-bottom: 3px solid $blue500;
    
        &:hover {
            transition: .4s all;
            border-left: 3px solid $blue500;
            border-top: 3px solid $blue500;
            border-right: 3px solid $yellow400;
            border-bottom: 3px solid $yellow400;

            .icon-wrapper {
                background: $white;
                border: 8px solid $blue500;
                transition: .4s all;
            }

            .footer {
                border: 3px solid $yellow400;
                transition: .4s all;

                &:after {
                    background: $blue500;
                    transition: .4s all;
                }
            }
        }
    
        .icon-wrapper {
            background: $white;
            position: absolute;
            top: 0;
            left: 0;
            transform: translateX(-50%) translateY(-50%);
            min-width: 4rem;
            max-width: 4rem;
            padding: 5px;
            text-align: center;
            border-radius: 50rem;
            border: 8px solid $yellow400;
            background: $blue500;
            transition: .4s all;

            .icon {
                width: 100%;
            }
        }
    
        .header,
        .body,
        .footer {
            display: flex;
            justify-content: center;
            margin: 2rem;
        }
    
        .header {
            flex-direction: column;
            align-items: center;
            margin-top: 1rem;
            position: relative;
            z-index: 1;
    
            .title {
                font-size: 2rem;
                text-transform: uppercase;
                letter-spacing: 2px;
                color: $blue600;
                font-weight: 700;
            }
    
            .time {
                margin-top: 1rem;
                color: rgba($black, .8);
            }
        }
    
        .body {
            align-items: center;
            justify-content: center;
            font-size: 1.4rem;
            position: relative;
    
            .detail-wrapper {
                display: flex;
                flex-direction: column;
                margin: 2rem;
                text-align: center;
                max-width: 40rem;
                width: 100%;
                position: relative;
                z-index: 1;
    
                .country {
                    font-size: 2rem;
                }
    
                .region {
                    margin-top: 1rem;
                }
            }
        }
    
        .footer {
            position: absolute;
            margin: 0;
            max-width: 50%;
            width: 100%;
            height: 4rem;
            left: 50%;
            bottom: 0;
            transform: translateX(-50%) translateY(50%);
            border: 3px solid $blue500;
            background: $white;
            color: $blue500;
            font-size: 1.4rem;
            font-weight: 600;
            justify-content: space-evenly;
            align-items: center;
            transition: .4s all;

    
            &::after {
                content: "";
                display: block;
                width: 100%;
                height: 1rem;
                position: absolute;
                background: $yellow400;
                left: 0;
                bottom: 0;
                transition: .4s all;

            }
        }
    }

}